<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tierep.notificationanalyser" >

    <uses-permission android:name="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ui.DrawerActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.tierep.notificationanalyser.NotificationListener"
            android:enabled="true"
            android:exported="true"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE" >
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <activity
            android:name=".ui.AppDetail"
            android:label="@string/title_activity_app_detail"
            android:parentActivityName=".ui.DrawerActivity" >
        </activity>
        <activity
            android:name=".ui.IgnoredApps"
            android:label="@string/title_activity_ignored__apps"
            android:parentActivityName=".ui.DrawerActivity" >
        </activity>
    </application>

</manifest>
